<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "dev" class="com.devSpring.developer">
   <constructor-arg value="Prashant"></constructor-arg>
   <property name = "Lap" ref = "Lap2"></property>

</bean>
<bean id = "Lap2" class ="com.devSpring.Laptop"></bean>

</beans>